*.ts
!*.d.ts

test/
coverage/
docs/
examples/
.nyc_output/
.vscode/
.serverless/
.git/*

serverless.yml

.travis.yml
.env.example
.adr-dir
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.nvmrc
.prettierignore
.slsignore

.commitlintrc.js
.eslintrc.js
.huskyrc.js
.prettierrc.js
.lintstagedrc.js

jest.config.ts
